[defaults]
roles_path = roles
collections_paths = collections
stdout_callback = yaml
callbacks_enabled = ansible.posix.profile_tasks
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_method = sudo
