{% for comp in components %}
{% if lookup('vars', 'migrate_' + comp.name, default=true) %}
{{ comp.name }}_pg_database: {{ comp.pg_database }}
{% endif %}
{% endfor %}
{% if migrate_controller | default(true) %}
controller_secret_key: {{ migration_secrets.controller_secret_key }}
{% endif %}
{% if migrate_gateway | default(true) %}
gateway_secret_key: {{ migration_secrets.gateway_secret_key }}
{% endif %}
{% if migrate_hub | default(true) %}
hub_secret_key: {{ migration_secrets.hub_secret_key }}
hub_db_fields_encryption_key: {{ migration_secrets.hub_db_fields_encryption_key }}
{% endif %}
